* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}


.inner{
    max-width: 1100px;
    margin: auto;
    padding: 20px 0px;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
}

.header-inner {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact {
    width: 250px;
    height: 50px;
    display: flex;
    border-radius: 30px 30px 0px 30px;
    background-color: rgb(255, 191, 0);
    align-items: center;
    font-weight: bold;
    justify-content: center;
    gap: 10px;
    color: white;
}


.banner {
    width: 100%;
    /* height: 700px; */
    background: url("https://packshifts.in/images/banner.jpg");
}

.inner-ban {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ban-left {
    flex-basis: 60%;
    height: 58%;
    color: white;
    align-items: flex-start;
    padding: 12% 0%;
    margin-left: 20;
}

/* .ban-left h2{
    font-size: ;
} */

.ban-left h2,h3,p {
    margin-bottom: 50px;
}


.ban-right {
    flex-basis: 30%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* padding-top:10%; */
}

.ban-right form {
    width: 100%;
    height: 70%;

}


.form {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 4% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form h4 {
    font-size: 19px;
}

.form input {
    width: calc(85% - 12px);
    height: 30px;
    border: 0.5px solid lightgrey;
    background-color: white;
    border-radius: 0px;
    font-size: 12px;
    padding-left: 12px;
}

.form input::placeholder {
    color: black;
}

.captcha-info {
    width: 87%;
    display: flex;
    justify-content: space-between;

}

.captcha-info span {
    width: 40%;
    height: 22px;
    background-color: rgb(255, 207, 63);
    font-size: 12px;
    padding-top: 8px;
    text-align: center;
}

#captcha {
    width: 40%;
}


.form p {
    width: 87%;
    font-size: 12px;
}

.form p a {
    color: blue;
}

.form p a:hover {
    text-decoration: underline;
}

#submit {
    width: 87%;
    padding: 0px;
    background-color: rgb(50, 100, 215);
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#submit:hover {
    background-image: linear-gradient(176deg, yellow, blue);
}

.pack {
    max-width: 100%;
    padding-bottom: 40px;
}

.common-head {
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 20px 0px;
    color: rgb(3, 95, 174);
}

.common-head h3 {
    margin: 10px 0px;
}

.pack-vid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 30px;
}

.vids {
    flex-basis: 27%;
    height: 230px;
    /* background-color: yellow; */
    border-radius: 20px;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

.vids iframe {
    width: 100%;
    height: 83%;
    border-radius: 20px;
}

.vids h4 {
    color: #035fae;
    margin-top: 10px;
}

.services {
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px 0px;
}


.services-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 0px;
}

.services-info {
    flex-basis: 48%;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: 2px, 2px, 2px black;
}

.services-info img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 60%;
}

.services-info h4 {
    color: #035fae;
    margin-top: 20px;
}

.services-info p {
    height: 20%;
    font-size: 16px;
    text-align: justify;
    margin: 8px 15px;
    color: grey;
    line-height: 23px;
}


.services-info a {
    width: 25%;
    height: 6%;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(251, 245, 57), rgb(255, 207, 64));
    border-radius: 5px;
    box-shadow: 0px 2px 11px 0px rgb(172 172 172 / 58%);
}

.why {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    padding: 30px 0px;
}

.why1 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.why1 i,
.why1 h3 {
    font-size: 25px;
    color: #035fae;
}

.orange {
    color: #ffcf40;
}

.why1 p {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px 35px 0px;
}

.why1-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.why-img {
    width: 20%;
    background-color: rgb(244, 244, 244);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.why-img img {
    height: 80px;
}


.why-img span {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}


.achieve {
    width: 100%;
    background: linear-gradient(#4780db, #155ed1);
}

.achieve-inner {
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    color: white;
}

.achieve-head {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
    font-size: 25px;
}


.achieve-inner p {
    width: 100%;
    margin: 20px 0px;
}

.achieve-content {
    width: 100%;
    display: flex;
    justify-content: center;
}


.achieve-cotent-r {
    text-align: center;
    flex-grow: 1;

    /* background-color: brown; */
}

.achieve-img {
    width: 39px;
    height: 39px;
    margin: 10px auto;
}

.achieve-img img {
    width: 100%;
    height: 100%;
}

.achieve-num {
    font-size: 25px;
    margin: 2px 0px;
}

.achieve-cotent-r p {
    margin: 7px 5px;
    font-size: 18px;
}

.happy {
    width: 100%;
    padding: 20px 0px;
}

.happy-quote {
    width: 100%;
    background: linear-gradient(#4780db, #155ed1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 10px;
    padding: 20px 0px;
}

.happy-person {
    flex-basis: 20%;
    text-align: center;
    background: rgb(255, 207, 64);
    border-radius: 0px 10px 0px 10px;
}

.happy-img {
    width: 150px;
    height: 150px;
    margin: auto;
}

.happy-img img {
    width: 100%;
    height: 100%;
}

.happy-name {
    font-size: 20px;
}

.happy-para {
    flex-basis: 75%;
}

.happy-quote p {
    /* padding: 2%; */
    font-size: 16px;
}

.clients {
    width: 100%;
    background: rgb(244, 244, 244);
    padding: 20px 0px;
}

.clients-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background: yellow; */
    align-items: center;
    padding: 20px 0px;
}

.clients-company {
    width: 18%;
    height: 100px;
    border-radius: 20px;
}

.clients-company img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.branches {
    width: 100%;
    padding: 20px 0px;
}

.branches-content {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.branches-info {
    flex-basis: 48%;
    background: rgb(244, 244, 244);
    text-align: center;
    border-radius: 20px;
    padding: 20px 0px;
}

.branches-icon {
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(251, 245, 57), rgb(255, 212, 63));
    background-clip: text;
    color: transparent;
}

.branches-info h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.branches-info {
    font-size: 14px;
}

.packshift {
    width: 100%;
    background-color: rgb(244, 244, 244);
    padding: 20px 0px;
}

.packshift-content {
    display: flex;
    justify-content: space-between;
}

.packshifts-c h4 {
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.packshifts-c ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.footer {
    width: 100%;
    background: linear-gradient(rgb(70, 127, 219), rgb(22, 95, 209));
    padding: 20px 0px;
    position: relative;
}

.footer-r {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.terms a {
    font-size: 14px;
    color: white;
}

.footer-line {
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
}

.copy-rights {
    font-size: 14px;
}

@keyframes truck-move {
    form {
        top: 50%;
        left: 0%;
    }

    to {
        top: 70%;
        left: 100%;
    }
}



.truck {
    width: 100px;
    height: 50px;
    /* background-color: red; */
    position: fixed;
    bottom: 0%;
    animation: truckMove 8s linear 0s infinite;
}


.truck img {
    width: 100%;
    height: 80%;
}


.truck-wheel {
    width: 100%;
    height: 30px;
    display: flex;
    gap: 45px;
    justify-content: center;
    /* background: olive; */
    position: relative;
}


.stick {
    width: 100%;
    height: inherit;
    position: fixed;
    bottom: 0px;
}


.truck-wheel img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -40%;
    animation: wheels-rotate 1s linear 0s infinite;
}

@keyframes truckMove {
    from {
        bottom: 0%;
        left: 0%;
    }

    to {
        bottom: 0%;
        left: 100%;
    }
}

@keyframes wheels-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}